services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file: .env
    restart: unless-stopped
    volumes:
      - storage:/var/www/html/storage
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-proxy
      - traefik.http.routers.desktools.rule=Host(`desktools.org`)
      - traefik.http.routers.desktools.entrypoints=websecure
      - traefik.http.routers.desktools.tls.certresolver=le
      - traefik.http.services.desktools.loadbalancer.server.port=80
    networks:
      - default
      - traefik-proxy

volumes:
  storage:

networks:
  traefik-proxy:
    external: true
